# **Variables**

In [1]:
# 1. Swapping Values
def swap_values(a, b):
    a, b = b, a
    return a, b

# Test the function
a, b = 5, 10
swap_values(a, b)

(10, 5)

In [2]:
# 2. Finding the Type
def find_type(var):
    return type(var)

# Test the function
find_type(42)  # Example with an integer
find_type("Hello")  # Example with a string

str

In [3]:
# 3. Variable Scope
def variable_scope_demo():
    global_var = "I am global"
    def inner_function():
        local_var = "I am local"
        print("Inside inner_function:")
        print("Global variable:", global_var)
        print("Local variable:", local_var)
    inner_function()
    print("Inside variable_scope_demo:")
    print("Global variable:", global_var)
    # The following line will raise an error if uncommented:
    # print("Local variable:", local_var)

variable_scope_demo()

Inside inner_function:
Global variable: I am global
Local variable: I am local
Inside variable_scope_demo:
Global variable: I am global

In [4]:
# 4. Type Conversion
def int_to_str(number):
    str_number = str(number)
    return str_number, type(str_number)

# Test the function
int_to_str(123)

('123', str)

In [5]:
# 5. Mutable vs Immutable
def mutable_vs_immutable(lst, tpl):
    lst.append(4)  # Modify mutable list
    # Tuples are immutable, so this will raise an error if uncommented
    # tpl[0] = 5
    return lst, tpl

# Test the function
mutable_vs_immutable([1, 2, 3], (1, 2, 3))

([1, 2, 3, 4], (1, 2, 3))

In [6]:
# 6. Variable Assignment
def multiple_assignments(value):
    a = b = c = value
    return a, b, c

# Test the function
multiple_assignments(42)

(42, 42, 42)

In [8]:
# 7. String Manipulation
def reverse_string(s):
    reversed_str = s[::-1]
    return reversed_str

# Test the function
reverse_string("SakshiTanwar")

'rawnaTihskaS'

In [9]:
# 8. Concatenation
def concatenate_strings(str1, str2):
    concatenated = str1 + " " + str2
    return concatenated

# Test the function
concatenate_strings("Data", "Scientist")

'Data Scientist'

In [10]:
# 9. Default Argument Values
def sum_with_defaults(a=5, b=10):
    return a + b

# Test the function
sum_with_defaults()  # Uses default values
sum_with_defaults(3, 7)  # Uses provided values

10

In [11]:
# 10. String Formatting
def format_sentence(name, age):
    sentence = f"My name is {name} and I am {age} years old."
    return sentence

# Test the function
format_sentence("Sakshi", 25)

'My name is Sakshi and I am 25 years old.'